/* Ws.css */

/* Contenedor flotante */
.whatsapp-flotante {
  position: fixed;
  bottom: 30px;
  right: 30px;

  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}
  
  /* Estilos para el ícono */
  .whatsapp-icono-img {
  border-radius: 50%;
  padding: 12px;
  background: black;

  color: #083ef0;

  transition: transform 0.3s ease-in-out;
}
  
  /* Efecto hover: agrandar el ícono */
  .whatsapp-icono-img:hover {
    color: white;
    transform: scale(1.2);
    animation: none;
}
  